body{
    font-family: 'Verdana';
    margin: 0;
}

header{
    width:100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100000; 
}
.inner_box {
    width: 1180px;
    height: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.logo_text{
    left: 10px;
    bottom: 15px;
    position: absolute;
}
.logo_text a{
    text-decoration: none;
    color:black
}
.logo_text a:hover{
    text-decoration: none;
    color:black
}
.global_navigation_bar{
    right: 0px;
    bottom: 0px;
    position: absolute;
}
.global_navigation_bar ul>.list1{
    display:inline;
    margin-right: 70px;
}
.global_navigation_bar ul a{
    text-decoration: none;
    color:black
}
.global_navigation_bar ul a:hover{
    color: blue;
}
.utility_bar{
    right:30px;
    top:20px;
    position: absolute;
}
.utility_bar ul>.list2{
    display:inline;
    margin-right: 7px;
    font-size: small;
}
.utility_bar ul a{
    text-decoration: none;
    color:black
}

section{
    width:1000px;
    height: 6000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}
article{
    float:left;
}
.article_1{
    background-image: url("700x400.png");
    width:700px;
    height: 400px;
    position: relative;
}
.article_1_word{
    position: absolute;
    right:10px;
    bottom:10px;
    font-size: 30px;
    color: white;
}
.article_2{
    background-image: url("290x190.png");
    width:290px;
    height:190px;
    margin-left:10px;
    position: relative;
}
.article_2_word{
    position: absolute;
    top:50px;
    left:10px;
    font-size: 25px;
    color: white;
}
.article_3{
    background-image: url("290x95-1.png");
    width:290px;
    height:95px;
    margin-left:10px;
    margin-top:10px;
    position: relative;
}
.article_3_word{
    position: absolute;
    right:10px;
    bottom:20px;
    font-size: 20px;
    color: white;
}
.article_3_2{
    background-image: url("290x95-2.png");
    width:290px;
    height:95px;
    margin-left:10px;
    margin-top:10px;
}
.div_article_4{
    width: 490px;
    height: 490px;
    margin-top: 10px;
}
.article_4{
    background-image: url("490x240-1.png");
    width:490px;
    height:240px;
    position: relative;
}
.article_4_word{
    position: absolute;
    width:300px;
    font-size: small;
    left: 50%;
    margin-left: -150px; 
    top: 160px;
}
.article_4_1{
    background-image: url("490x240-2.png");
    width:490px;
    height:240px;
    margin-top: 10px;
    position: relative;
}
.article_4_1_word{
    position: absolute;
    right:20px;
    bottom: 30px;
    font-size: 30px;
    color:gold;
}
.article_5{
    background-image: url("500x490.png");
    width:500px;
    height:490px;
    margin-top: 10px;
    margin-left:10px;
}
.article_6{
    background-image: url("1000x371.png");
    width:1000px;
    height:371px;
    margin-top: 10px;
    position: relative;
}
.article_6_inner_box{
    width:1000px;
    height:auto;
    text-align: center;
    top:50%;
    transform: translate(0,-50%);
    position: absolute;
}
.article_6_word{
    font-size: 50px;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.article_7{
    background-image: url("1000x361.png");
    margin-top: 10px;
    width:1000px;
    height: 361px;
    position: relative;
}
.article_7_inner_box{
    width: 450px;
    height:150px;
    position: absolute;
    right:30px;
    bottom:40px;
}
.article_7_small_word{
    font-size: 20px;
    color:white;
    margin:0px;
}
strong{
    font-size: 30px;
    color:white;
    font-weight: bold;
}